/* @import "../menu-item/menu-item.component.css"; */




.cart-container {
  width: 100%;
  margin: 0 auto;
}

.cart-main-page {
  font-size: 1.5rem;
  cursor: pointer;
  color: green;
}

.cart-main-page:hover {
  font-size: 1.8rem;
  /* color: #ffbe00; */
  transition: all .5s;
}

.fa-cart-arrow-down {
  margin-right: .5rem;
}

.cart-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.cartItemsNumber{
  color: red;
  /* border: red solid 1px; */
  padding: 4px;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  display: inline-block;
  font-size: .9rem;
  text-align: center;
  line-height: 1;

  background-color: yellow;
}

.cart-sub-total {
  text-align: center;
  border-bottom: 3px solid #bbb;
  margin-bottom: 1rem;

}

.cart-sub-total-buy-now button {
  border-radius: 20px;
  padding: 1px 10px;
}

hr {
  margin: .5rem 0;
}

.cart-content-items {
  margin-top: unset;
}


.cart-item-img-container {
  position: relative;
  width: 100px;
  height: 75px;
  margin: 0 auto 3px auto;

}

.cart-item-img {
  display: block;
  width: 100px;
  height: 75px;
  border-radius: 5px;
  object-fit: cover;
}

.cart-item-price {
  font-size: .7rem;
  text-align: center;
}

.order_menu_item {
  margin: 1rem 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 10%;
}

.plus-minus-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  gap: 5%;
  flex-basis: 50%;
}

.delet-item_menu {
  flex-basis: 20%;
}

.fa-minus-item,
.fa-plus-item,
.delet-item_menu {
  cursor: pointer;
}

.disableMinus, .disableBuyNowBtn button{
  opacity: 0.4;
  cursor: not-allowed;
}

.item_quant {
  flex-basis: 40%;

}
.item_quant input {
  padding: 0;
  text-align: center;
  width:45px;

}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.sub-total-separator,
.item-separator {
  border-bottom: solid 1px #ddd;
  width: auto;
}

.item-separator {
  margin-top: 0;
}


.cart-sub-total-text,
.cart-sub-total-valu {
  display: block;
  font-size: 13px;
}

.cart-sub-total {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
  padding: .5rem;
}

.fa-minus-item,
.delet-item_menu {
  color: red;
}

.fa-plus-item {
  color: green;
}

.box-shadow-below{
  box-shadow: 0px 7px 10px 0px #888888;
}


.cart-item-delete{
  max-width: 200px;
  margin: auto;
}

.disable-link {
  pointer-events: none;
}


@media (max-width:550px) {
  .cart-content {
    /* width: 60%; */
    /* margin: auto; */
    margin-bottom: 4rem;

  }

}
