/* @import "../menu-item/menu-item.component.css"; */


.order_menu_item {
  /* flex-wrap: wrap;
justify-content: center; */
}

.plus-minus-item {
  margin-bottom: 1rem;
}

.card-img-top {
  /* float: left; */
  /* height: 70px;
  width: 70px; */
  /* margin-right: 1rem; */
}

.your-cart-container {
  /* border: 1px solid red; */
  /* padding: 0 .5rem; */
}

/* .item_details{
  flex-flow: wrap row;
} */





.cart-container {
  width: 100%;
  margin: 0 auto;
}

.cart-main-page{
  font-size: 1.5rem;
  cursor: pointer;
  color: green;
}

.cart-main-page:hover{
  font-size: 1.8rem;
  color: #daa300;
  transition: all .5s;
}

.fa-cart-arrow-down{
  margin-right: .5rem;
}

.cart-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.cart-sub-total{
  text-align: center;
}
.cart-sub-total-buy-now button{
  border-radius: 20px;
  padding: 1px 10px;
}
.cart-content-items {
  /* width: 85%; */
  margin-top: unset;
  /* margin-bottom: 12px; */
}


.cart-item-img-container {
  position: relative;
  /* width: 100%; */
  width: 100px;
  height: 75px;
  margin: 0 auto;
}

.cart-item-img {
  display: block;
  width: 100px;
  height: 75px;
  border-radius: 5px;
  object-fit: cover;
}
.cart-item-price{
  font-size: .7rem;
  text-align: center;
}
.order_menu_item{
  margin-top: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 10%;
}
.plus-minus-item {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 5%;
  flex-basis: 50%;
}

.delet-item_menu{
  flex-basis: 20%;
}

.fa-minus-item,
.fa-plus-item,
.delet-item_menu {
  cursor: pointer;
}


.item_quant {
  flex-basis: 40%;
}


.sub-total-separator,
.item-separator {
  border-bottom: solid 1px #ddd;
  width: auto;
  /* margin: 0 ; */

}

.item-separator {
  margin-top: 0;
}


.cart-sub-total-text,
.cart-sub-total-valu {
  display: block;
  font-size: 13px;
}

.cart-sub-total {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  padding: 1rem;
}

.fa-minus-item{
  color: red;
}

.fa-plus-item{
  color: green;
}
.delet-item_menu{
  color: red;
}
