.card {
  padding: 1rem;
}

.form-group {
  font-size: 1.1rem;
}

.card-title {
  margin-bottom: 1rem;
  color: green;
}

.card-body .form-check-label{
  font-size: .8rem;;
}


.filter-card_title {
  /* display: inline-block; */
  /* margin-right: 1rem; */
}


aside.Layout-aside {
  min-width: 140px;
  width: 140px;
  transition: width .4s, min-width .4s;
}



.Layout-aside-content {
  /* margin-bottom: 2rem; */
  padding: 7px;
}





.all_filter_item_check {
  display: flex;
  justify-content: center;
}



.card {
  padding: 0;
}

/* @media (max-width:475px) {
  .filter-card_title {
    text-align: right;
    color: green;
  }
} */
