<aside class="Layout-aside-content">

  <div class="col-12 text-center filter-col">
    <h4 class="card-title fixed-position filter-card_title">
      <i class="fa fa-solid fa-filter"></i>
    </h4>

  </div>

  <div class="card filter_items_content">
    <div class="card-body">

      <form>
        <div class="form-group row all_filter_item_check">
          <div class="form-check filter_item_check">

            <input class="form-check-input" type="checkbox" value="" id="all_items">
            <label class="form-check-label" for="all_items">
              All
            </label>
          </div>

          <div class="form-check filter_item_check">
            <input class="form-check-input" type="checkbox" value="" id="breakfast">
            <label class="form-check-label" for="breakfast">
              Breakfast
            </label>
          </div>

          <div class="form-check filter_item_check">
            <input class="form-check-input" type="checkbox" value="" id="lunch">
            <label class="form-check-label" for="lunch">
              Lunch
            </label>
          </div>

          <div class="form-check filter_item_check">
            <input class="form-check-input" type="checkbox" value="" id="dinner">
            <label class="form-check-label" for="dinner">
              Dinner
            </label>

          </div>

          <div class="form-check filter_item_check">
            <input class="form-check-input" type="checkbox" value="" id="drinks">
            <label class="form-check-label" for="drinks">
              Drinks
            </label>
          </div>

          <div class="form-check filter_item_check">
            <input class="form-check-input" type="checkbox" value="" id="soup">
            <label class="form-check-label" for="soup">
              Soup
            </label>
          </div>

        </div>
      </form>

    </div>
  </div>
</aside>
