.buy-now-container {
  /* margin-top: 80px; */
  /* margin-top: 65px; */
  margin-top: 50px;
  margin-bottom: 2rem;
  display: flex;
  gap: 5%;
  justify-content: center;
  flex-flow: row wrap;
}

.app-cart-container {
  flex-basis: 35%;
  border: 1px solid darkgrey;
  box-shadow: 0px 7px 10px 0px #888888;
  /* margin-bottom: 2rem; */
}

.cart-sub-total-buy-now {
  display: none;
}

/* .disableMe{
  opacity: .5;
  cursor: not-allowed;
} */

.order-info {
  flex-basis: 55%;
  border: 1px solid darkgrey;
  box-shadow: 0px 7px 10px 0px #888888;
  padding: 20px;
  /* font-size: .8rem; */
  background-color: #f2f2f2;
  border-radius: 5px;
}
.order-info h4{
  text-align: center;
}

.app-cart-container {
  max-height: 560px;
  overflow-x: hidden;
  overflow-y: scroll;
}


.form-field input,
.form-field textarea {
  /* max-width: 300px; */
  width: 90%;
  padding: 3px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px !important;
}

textarea::placeholder,
input::placeholder {
    font-size: .9rem;
}

.form-field {
  margin-top: .5rem;
}


.submit-order {
  margin-top: 1rem;
  text-align: center;
}



@media (max-width:450px) {

  .app-cart-container,
  .order-info {
    flex-basis: 90%;
  }

  .app-cart-container {
    max-height: 300px;
    margin-bottom: 2rem;

  }

}


.order-info-error{
  display: none;
  color: red;
  margin: 0;
  font-size: small;
}


/* .fullname{
  display: flex;
  flex-flow: row wrap;
  gap: 20%;
}

.firstname, .lastname{
  flex-basis: 40%;
} */



input.ng-invalid, textarea.ng-invalid, select.ng-invalid{
  outline: 1px solid red;
}

input.ng-valid,  textarea.ng-valid{
  outline: 1px solid green;
}
