.menu_items {
  margin-bottom: 1rem;
}
.item_details .card-title, .item_description{
  font-family: 'Montserrat', sans-serif;

}
.menu_item:hover {
  border: 1px solid #0aad0a;
}

.item_details {
  display: flex;
  justify-content: space-between;
}

.item_price,
button.btn.btn-success.btn-sm {
  font-weight: bold;
}
figcaption{
  display: none;
}
.card-title {
  font-size: .8rem;
}

.item_price,
button.btn.btn-success.btn-sm,
.item_description {
  font-size: 0.7rem;
}

.item_desc .item_description {
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  display: block;
}

.item_desc .item_description:hover {
  white-space: unset;
  text-overflow: unset;
  width: unset;
}

.card-img-top {
  object-fit: cover;
  height: 116px;
  margin-bottom: 0.5rem;
}

