
<div class="menu_items" >
  <div class="card menu_item">

    <div class="card-body">
      <figure>
        <img class="card-img-top" src="{{menuItem.url}}" width="163" height="95" title="{{menuItem.name}}" alt="A photo of {{menuItem.name}}: {{menuItem.description}}">
        <figcaption>A photo of {{menuItem.name}}</figcaption>
      </figure>
      <div class="item_details">
        <div>
          <h2 class="card-title">{{menuItem.name}}</h2>

        </div>
        <div class="item_price">${{menuItem.price}}</div>

      </div>
      <div class="item_desc ">
        <p class="card-text item_description small-scroll-bar">{{menuItem.description}}</p>
      </div>

      <!-- <div class="item_desc">
        <details>
          <summary>Description</summary>
          <p class="card-text item_description">{{menuItem.description}}</p>
        </details>
      </div> -->
      <app-plus-minus-item [menuItem]="menuItem"></app-plus-minus-item>
    </div>
  </div>

</div>
