.menu_items {
  margin-bottom: 1rem;
}

.item_details .card-title,
.item_description {
  font-family: 'Montserrat', sans-serif;
}

h2.card-title {
  font-weight: bold;
}

.menu_item:hover {
  border: 1px solid #0aad0a;
}

.item_details {
  display: flex;
  justify-content: space-between;
}

.item_price,
button.btn.btn-success.btn-sm {
  font-weight: bold;
}

figcaption {
  display: none;
}

.card-title {
  font-size: .8rem;
}

.item_price,
button.btn.btn-success.btn-sm,
.item_description {
  font-size: 0.7rem;
}



.item_desc .item_description:hover {
  white-space: unset;
  text-overflow: unset;
  width: unset;
}

.item-image {
  cursor: pointer;
}

.card-img-top {
  object-fit: cover;
  /*height: 116px; */
  margin-bottom: 0.5rem;
}

.show-more-details {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.item-more-details {
  width: 100vw;
  height: 100vh;
  color: black;
  background: rgba(0, 10, 10, .8);
  /* opacity: .8; */
  z-index: 11;
  /* color: white; */
  position: fixed;
  top: 1rem;
  right: 0;
  /* left: 1rem; */
  bottom: 2rem;
  margin-bottom: 1rem;
}

.sub-item-more-detail {
  width: 70vw;
  max-width: 420px;
  /* height: 70vh; */
  color: black;
  background: white;
  opacity: 1;
  margin: auto;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-details {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: white;

  padding: 1rem;
  cursor: pointer;
  font-size: 2rem;
}

.close-icon:hover {
  color: red;
  background-color: white;
  border-radius: 50%;
  line-height: .5;

}
