<router-outlet></router-outlet>
<app-nav-bar></app-nav-bar>
<div>
  <div class="row show-hide-left-right">

    <div class="col-4 show-filter-icon">
      <div class="filter-icon">
        <input (change)="showHideFilter($event)" type="checkbox" name="" id="show-filter">
        <label class="show-filter-lable" for="show-filter">
          <i class="fa fa-solid fa-filter"></i>
        </label>
      </div>
    </div>
    <div class="col-4 show-menu" (click)="showMenuIteme($event)">
      <div><i class="fa fa-solid fa-list"></i></div>
    </div>

    <div class="col-4 show-shopping-cart-icon">
      <div class="shopping-cart-icon">
        <input (change)="showHideCart($event)"  type="checkbox" name="" id="show-cart">
        <label class="show-cart-lable" for="show-cart">
          <i class="fa  fa-solid fa-cart-arrow-down"></i>
          <!-- <i class="fa fa-caret-right"></i> -->
        </label>

      </div>
    </div>

  </div>
  <div class="my-container main-columns ">
    <div class="left" [class.showFilterAside]="showFilterAside">
      <app-menu-filtering class=" app-menu-filtering"></app-menu-filtering>
    </div>
    <div class=" middle-page">

      <div class="app-menu-list">
        <app-menu-list></app-menu-list>
      </div>
    </div>
    <div class="right your_cart" [class.showCartAside]="showCartAside">
      <app-cart ></app-cart>
    </div>
  </div>
</div>
