.main-columns {
  display: grid;
  grid-template-columns: 26% 40% 30%;
  /* grid-template-columns: 3fr 10fr 3fr; */
  margin-top: 80px;
  column-gap: 2%;
  background-image: url(../assets/images/body_background.png);
}

.left,
.right {
  overflow-y: auto;
  overflow-x: hidden;
  position: sticky;
  top: 80px;
  height: calc(100vh - 80px);
}

.left {
  border-right: 1px solid #bbb;
}

.right {
  border-left: 1px solid #bbb;
  scrollbar-width: 11px;
}

.middle-page {
  max-width: 100%;
  min-width: 90%;
}

.left,
.your_cart {
  background-color: white;
}

@media (min-width:789px) {
  .main-columns {
    grid-template-columns: 22% 53% 23%;
    column-gap: 1%;
  }
}

@media (min-width:890px) {
  .main-columns {
    grid-template-columns: 20% 60% 18%;
    column-gap: 1%;
  }
}

@media (min-width:1015px) {
  .main-columns {
    grid-template-columns: 17.5% 63% 17.5%;
    column-gap: 1%;
  }
}

@media (min-width:1100px) {
  .main-columns {
    grid-template-columns: 16% 66% 16%;
    column-gap: 1%;
  }
}

@media (min-width:1180px) {
  .main-columns {
    grid-template-columns: 12.5% 73% 12.5%;
    column-gap: 1%;
  }
}

/* test new show hide sides */
.show-hide-left-right {
  display: none;
}

/* .show-hide-left-right {
  margin-top: 80px;
  position: sticky;
  top: 80px;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: white;

} */

.show-filter-icon {}

.show-shopping-cart-icon {
  display: flex;
  justify-content: flex-end;


}

.shopping-cart-icon {
  margin-right: 1rem;

}

.filter-icon {
  margin-left: 1rem;
  /* cursor: pointer; */

}

.show-filter-lable,
.show-cart-lable ,
.show-menu{
  cursor: pointer;
  padding: .5rem;
  font-size: 1.5rem;
  color: green;
}

#show-cart,
#show-filter {
  display: none;
}


/*
@media (max-width:475px) {

  .right {
    position: fixed;
    transform: translate(calc(100vw - 45px));
    z-index: 10000;
    right: 0;
  }




} */



/* #show-filter:checked + .show-cart-lable {
  background-color: red;
    } */



/* end tst show hide sides */



@media (max-width:550px) {

  .show-hide-left-right {
    margin-top: 80px;
    position: sticky;
    top: 80px;
    left: 0;
    right: 0;
    z-index: 3000;
    background-color: white;
    display: flex;

  }

  .show-menu{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-columns {
    margin-top: 0px;
  }

  .left {
    position: fixed;
    transform: translate(-90%);
    z-index: 10000;
    margin-top: 52px;
    border-top: 1px solid #bbb;
    border-radius: 5px;
  }


  .showFilterAside {
    left: 0;
    z-index: 20000;
    width: 80%;
    transform: translate(0);
    transition: all .5s;

  }

  /* .left:hover {
    left: 0;
    z-index: 20000;
    width: 50%;
    transform: translate(0);
    transition: all .5s;
  } */

  .right {
    position: fixed;
    transform: translate(calc(100vw - 45px));
    z-index: 10000;
    margin-top: 52px;
    border-top: 1px solid #bbb;
    border-radius: 5px;
  }

  /*
  .right:hover {
    right: 0;
    z-index: 20000;
    width: 50%;
    transform: translate(0);
    transition: all .5s;
  } */

  .showCartAside {
    right: 0;
    z-index: 20000;
    width: 80%;
    transform: translate(0);
    transition: all .5s;
  }


  .main-columns {
    grid-template-columns: 100% 0% 0%;
    column-gap: 1%;
  }

}
