
  <nav class="nav__bar">
    <input type="checkbox" name="" id="check">
    <label for="check" class="check__btn">
      <i class="fa fa-solid fa-bars"></i>
    </label>
    <label class="home" for=""><a routerLink="/">iEAT</a></label>
    <div class="nav__section">
      <ul class="nav__list" >
        <li class="nav-item" *ngFor="let navItem of navBarItems">
          <a routerLink="/{{navItem.url}}" [class.disable-link]="cartItemsNumber==0 && navItem.navTitle=='Cart' ">{{navItem.navTitle}}</a>
        </li>
      </ul>

      <form class="nav-form" action="">
        <input class="nav-search" type="search" placeholder="Search" aria-label="Search">
        <button class="nav-btn-search" type="submit">Search</button>
      </form>
    </div>

  </nav>
