<div class="container">
  <div class="contact-card">
    <div class="details">
      <p>This application is developed by</p>
      <p class="me"><strong>ALI HELMI</strong></p>
      <p>**This page is under-construction.**</p>
      <p>Please feel free to contact me:</p>
    </div>
    <div class="conatcts ">

      <p class="phone"><i class="fa fa-phone"></i> <a href="tel:+201061903255">+201061903255</a></p>

      <p class="whatsapp"><i class="fa fa-whatsapp" aria-hidden="true"></i>
        <a href="https://api.whatsapp.com/send?phone=201061903255" target="_blank">What'sApp</a>
      </p>

      <p class="email"><i class="fa fa-envelope"></i> <a href="mailto:ahelmi365@gmail.com">ahelmi365@gmail.com</a>
      </p>
      <p class="linkedin"><i class="fa fa-linkedin" target="_blank"></i> <a
          href="https://www.linkedin.com/in/alihelmi/">LinkedIn</a>
      </p>
      <p class="github"><i class="fa fa-github"></i> <a href="https://github.com/ahelmi365" target="_blank">GitHub</a>
      </p>

    </div>

  </div>
</div>
