

.page_header {
  margin-bottom: 2rem;

}

.all_items{
  background: url(/src/assets/images/body_background.png);
}

.menu-title{
  /* font-family:'Times New Roman', Times, serif */
  font-family: 'Montserrat', sans-serif;
}


.app-menu-filtering {
  min-width: 125px;
}

.app-menu-item {
  min-width: 245px;
}



.Layout-aside {
  order: 0;
  min-width: 140px;
  width: 140px;
  background-color: rgba(0, 255, 0, .4);
  transition: width .4s, min-width .4s;
}

.layout-aside-inner {
  position: fixed;
  min-width: 15%;
  width: 15%;
}


.show_filter_label {
  font-size: 1.5rem;
  display: none;
}


.show_filter {
  display: inline-block;
}



.Layout-aside-inner {
  position: fixed;
}


.app-menu-items {
  justify-content: center;
}




@media (max-width:475px) {
  .app-menu-items{
    flex-direction: column;
    align-items: center;
    }

  }
